{% extends 'base.html.twig' %}

{% block page%}
<h1>Client name: {{ client[0].getName }}</h1>
<form action="/patch/client/{{ client[0].getId }}" method="post">
    <input name="_method" value="patch" hidden>
    <label for="new_name">Update name:</label>
    <input type="text" name="new_name">
    <br>
    <label>Change Stylist</label>
    <select name="new_stylist_id">
        <option></option>
        {% if stylists is not empty%}
        {% for stylist in stylists %}
        <option value='{{ stylist.getId }}'>{{ stylist.getName }}</option>
        {% endfor %}
        {% endif %}
    </select>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
<br>
<br>
<h3>Delete Client</h3>
<form action="/delete/client/{{ client[0].getId }}" method="post">
    <input name="_method" value="delete" hidden>
    <button class="btn btn-warning" type="submit">Delete</button>
</form>
{% endblock %}
