{% extends 'base.html.twig' %}

{% block page %}
<div class="row">
<div class='col-md-6'>
        <form action="/add/client" method="post">
            <h2>Add a new client:</h2>
            <br>
            <label for='name'>Name:</label>
            <input type="text" name='name'>
            <select name="stylist_id">
                <option></option>
            {% if stylists is not empty%}
                {% for stylist in stylists %}
                <option value='{{ stylist.getId }}'>{{ stylist.getName }}</option>
                {% endfor %}
            {% endif %}
        </select>
            <button type="submit">Add a new client</button>
        </form>
        <form action="/add/stylist" method="post">
            <h2>Add a new stylist:</h2>
            <br>
            <label for="stylist_name">Name:</label>
            <input type="text" name="stylist_name">
            <button type="submit">Add</button>
        </form>
        <!-- list of stylists -->
        {% if stylists is not empty %}
        <h2>Browse by stylist:</h2>
        {% for stylist in stylists %}
        <ul>
            <li><a href="/stylist/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>
    <div class='col-md-6'>
        <!-- list of clients -->
        <h2>Client list:</h2>
        <table>
            <th>Name</th>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.getName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
