{% extends 'base.html.twig' %}

{% block page %}
<div class="row">
    <div class='col-md-6'>
        <!-- Update STYLIST form  -->
        <h1>{{ stylist.getName }}</h1>
        <h2>Update Stylist</h2>
        <form action="/patch/stylist/{{ stylist.getId }}" method="post">
            <input name="_method" value="patch" hidden>
            <div class="form-group">
                <label for="new_stylist_name">New name:</label>
                <input type="text" name="new_stylist_name" required>
                <button type="submit">Update</button>
            </div>
        </form>
        <!-- END FORM -->
        <!-- DELETE STYLIST FORM -->
        <h3>Delete stylist</h3>
        <form action="/delete/stylist/{{ stylist.getId }}" method="post">
            <input name="_method" value="delete" hidden>
            <button type="submit">Delete</button>
        </form>
        <!-- END FORM -->
    </div>
    <!-- NEW COLUMN  -->
    <div class='col-md-6'>
        <h1>{{ stylist.getName }}'s client list</h1>
        <ul>
            {% for client in clients %}
            <li><a href="/client/{{ client.getId }}">{{ client.getName }}</a></li>
            {% endfor %}
        </ul>
        <!-- FORM TO ADD NEW CLIENT  WISH LIST-->
        <!-- <form action="/add/client" method="post">
            <h2>Add a new client:</h2>
            <br>
            <label for='name'>Name:</label>
            <input type="text" name='name'>
            <input type="text" name='stylist_id' hidden>
            <button type="submit">Add a new client</button>
        </form> -->
    </div>
    <!-- END ROW  -->
</div>
{% endblock %}
